<form ngNoForm>
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" autofocus="autofocus" [(ngModel)]="member.name" class="form-control" id="inputName" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="inputGender">Gender</label>
        <input type="checkbox" class="form-control" id="inputGender" aria-label="...">
    </div>
    <button type="button" (click)="createMember()" class="btn btn-default">Create</button>
</form>