<div class="page-header">
    <h1>{{ title }}</h1>
</div>
<div class="content">
    <form ngNoForm>
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" autofocus="autofocus" [(ngModel)]="member.name" class="form-control" id="inputName" placeholder="Name">
        </div>
        <div class="form-group">
            <label>Avatar</label>
            <app-upload-avatar [(defaultImage)]="member.avatarUrl"></app-upload-avatar>
        </div>
        <div class="form-group">
            <label for="inputGender">Gender</label>
            <div>
                <p-dropdown [options]="genders" [(ngModel)]="member.gender" placeholder="Select a gender" id="inputGender"></p-dropdown>
            </div>
        </div>
        <button type="button" (click)="createMember()" class="btn btn-primary btn-block">Create</button>
    </form>
</div>